<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jampi Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/lavish-bootstrap.css') }}">

    <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  </head>
  <body>
    <h1>Jampi Dashboard</h1>
    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
