{% extends "layout.html" %}
{% block content %}
<div class="large-12 columns">
  <div class="row">
    <div class="large-6 columns">
      <h1>Forgot password</h1>
      <form action="/auth/forgot_password" method="post">
          {{ form_forgot.hidden_tag() }}

          <label>{{ form_forgot.email.label }}
            {{ form_forgot.email(placeholder="Email address") }}
          </lable>

          {{ form_forgot.submit(class="button") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
